* {
    margin: 0;
    padding: 0
}

body {
    background-color: lightblue
}

#mnubtn {
    position: absolute;
    transform: rotate(90deg);
    outline: 0;
    background: #666666e0;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    font-size: 30px;
    margin: 5px 5px;
    float: left;
    cursor: pointer
}

.mnu {
    width: 100%;
    position: absolute;
    margin-top: 65px;
    margin-left: 5px;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 10px;
    text-align: center
}

.mnu>label {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 25px;
    color: #F44336;
    font-weight: 700;
    text-shadow: 0 0 5px #000
}

.lmnu {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9e9e9ed1;
    padding-left: 5px;
    padding-top: 10px
}

.lmnu li {
    width: 70%;
    font-size: 30px;
    list-style-type: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    background: #666666e0;
    margin-bottom: 5px
}

.lmnu a {
    color: #f1f1f1;
    text-decoration: none
}

.lmnu li:hover {
    font-size: 35px
}

.inptxt {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px
}

.inptxt>label {
    float: left;
    font-weight: 700
}

.inptxt>input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.inptxt>button {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer
}

.inptxt>button:disabled {
    background-color: #ccc;
    color: #666
}

button {
    background-color: #f44336;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px
}
.txtvie{

    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;


}
.txtvie>label {
    float: left;
    font-weight: 700
}

.txtvie>input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.sglbtn>button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px
}

.sglbtn>button:disabled {
    background-color: #ccc;
    color: #666
}

.rng {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px
}

.rng>label {
    float: left;
    font-weight: 700;
    margin-bottom: 10px
}

.rng>input {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s
}

.rng>input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer
}

.rng>input:hover {
    opacity: 1
}

.rng>input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer
}

.tmpk {
  display: flex;
    text-align: left;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    align-items: center;
}

.tmpk>label {
    font-weight: 700;
    margin-bottom: 10px
}

.tmpk>label:first-child {
    font-weight: 700;
    margin-bottom: 10px
}

.tmpk>select {
    background-color: #f1f1f1;
    width: 100px;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px
}

.tmpk>button {
    background-color: #555;
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px
}

.tmpk>button:disabled {
    background-color: #ccc;
    color: #666
}

.swch {
    display: flex;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    text-align:center;

      align-items: center;
}

.swch>label {
    float: left;
    font-weight: 700;
    margin-bottom: 10px;
    margin-right:20px;
}
.swch>input[type=checkbox]{
  visibility: hidden;
}
.swch label:nth-child(3) {
    cursor: pointer;
  width: 100px;
  height: 50px;
  background: #4CAF50;
  display: block;
  border-radius: 50px;
  position: relative;

}
.swch label:nth-child(3):after {
  color:black;
  content: 'OFF';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 45px;
  height: 45px;
  background: #fff;
  font-size:20px;
  line-height:40px;
  border-radius: 45px;
  transition: 0.3s;


}
.swch input:checked + label:nth-child(3) {
  background: #F44336;

}
.swch input:checked + label:nth-child(3):after {
  content: 'ON';
  vertical-align: bottom;
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.swch label:nth-child(3):active:after {
  width: 130px;
}

.state {
    display: flex;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    text-align:center;

      align-items: center;
}

.state>label {
    float: left;
    font-weight: 700;
    margin-bottom: 10px;
    margin-right:20px;
}
.state>input[type=checkbox]{
  visibility: hidden;
}
.state label:nth-child(3) {
    cursor: pointer;
  width: 100px;
  height: 50px;
  background: #4caf50a8;
  display: block;
  border-radius: 50px;
  position: relative;

}
.state label:nth-child(3):after {
  color:black;
  content: 'OFF';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 45px;
  height: 45px;
  background: #fff;
  font-size:20px;
  line-height:40px;
  border-radius: 45px;
  transition: 0.3s;


}
.state input:checked + label:nth-child(3) {
  background: #f44336a8;

}
.state input:checked + label:nth-child(3):after {
  content: 'ON';
  vertical-align: bottom;
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.state label:nth-child(3):active:after {
  width: 130px;
}

